<h1>Checkout</h1>

<% if @customer.errors.any? %>
  <div class="alert alert-danger">
    <h2><%= pluralize(@customer.errors.count, "error") %> prevented this order from being placed:</h2>
    <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with url: checkout_path, method: :post, local: true do %>

  <div>
    <%= label_tag 'customer[name]', 'Name' %><br>
    <%= text_field_tag 'customer[name]', @customer.name %>
  </div>

  <div>
    <%= label_tag 'customer[email]', 'Email' %><br>
    <%= email_field_tag 'customer[email]', @customer.email %>
  </div>

  <div>
    <%= label_tag 'customer[address]', 'Address' %><br>
    <%= text_field_tag 'customer[address]', @customer.address %>
  </div>

  <div>
    <%= label_tag 'customer[province_id]', 'Province' %><br>
    <%= select_tag 'customer[province_id]',
          options_from_collection_for_select(Province.all, :id, :name, @customer.province_id),
          prompt: "Select your province" %>
  </div>

  <% unless customer_signed_in? %>
    <div>
      <%= label_tag 'customer[password]', 'Password' %><br>
      <%= password_field_tag 'customer[password]' %>
    </div>

    <div>
      <%= label_tag 'customer[password_confirmation]', 'Password Confirmation' %><br>
      <%= password_field_tag 'customer[password_confirmation]' %>
    </div>
  <% end %>

  <div style="margin-top: 10px;">
    <%= submit_tag "Place Order", class: "btn btn-primary" %>
  </div>

<% end %>
