<h1>All Products</h1>

<!-- Product Search -->
<%= form_with url: products_path, method: :get, local: true do %>
  <label><strong>Search Products:</strong></label>
  <%= text_field_tag :keyword, params[:keyword], placeholder: "Enter keyword..." %>

  <%= select_tag :search_category_id,
        options_from_collection_for_select(Category.all, :id, :name, params[:search_category_id]),
        include_blank: "All Categories" %>

  <%= submit_tag "Search" %>
<% end %>

<br>

<!-- Quick Filters -->
<p>
  <strong>Quick Filters:</strong>
  <%= link_to "New (last 3 days)", products_path(filter: "new", keyword: params[:keyword], search_category_id: params[:search_category_id]) %> |
  <%= link_to "Recently Updated (last 3 days)", products_path(filter: "updated", keyword: params[:keyword], search_category_id: params[:search_category_id]) %> |
  <%= link_to "Clear Filters", products_path %>
</p>

<hr>

<!-- Category Filter (separate dropdown at bottom) -->
<%= form_with url: products_path, method: :get, local: true do %>
  <label><strong>Filter by Category:</strong></label>
  <%= select_tag :category_id,
        options_from_collection_for_select(Category.all, :id, :name, params[:category_id]),
        include_blank: "All Categories" %>
  <%= submit_tag "Apply" %>
<% end %>

<hr>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <%= render @products %>
  </tbody>
</table>

<div class="pagination">
  <%= paginate @products %>
</div>
