<h2><%= @product.name %></h2>

<p>Category: <%= @product.category ? @product.category.name : "No Category" %></p>
<p>Price: <%= number_to_currency(@product.price) %></p>
<p>Description: <%= @product.description %></p>

<%= button_to "Add to Cart", cart_add_path(product_id: @product.id), method: :post %>

<%= link_to "Back to Products", products_path %>
